.events-page__container {
  display: flex;
}

.events-header-text {
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0;
}

.events-header-text-blue {
  font-size: 20px;
  color: #00798A;
  border-bottom: 4px solid #00798A;
}

#filters-placeholder {
  display: flex;
  padding: 12px 0;
}

.filter-wrapper { 
  border-radius: 40px; 
  background-color: #F6F7F8;
  margin-right: 17px;
}

.filter-select {
  background-color: #F6F7F8;
  border-color: transparent;
  border-right: 16px solid transparent;
  margin: 0 15px;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
}

.map-wrapper {
    position: relative;
    width: 350px;
    height: 285px;
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.map-wrapper, .map-wrapper > iframe, .map-overlay {
    border-radius: 12px;
}

.map-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 2;
}

.map-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;   
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #00798A;
    background: #fff;
    color: #00798A;
}
