.events-main {
    margin: 130px 0 100px;
}

.events-page__container {
  display: flex;
}

.events-header {
    margin-bottom: 12px;
}

.events-header-text {
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0;
}

.events-header-text-blue {
  font-size: 20px;
  color: #00798A;
  border-bottom: 4px solid #00798A;
}

#filters-placeholder {
  display: flex;
  padding: 12px 0;
}

.filter-wrapper { 
  border-radius: 40px; 
  background-color: #F6F7F8;
  margin-right: 17px;
}

.filter-select {
  background-color: #F6F7F8;
  border-color: transparent;
  border-right: 16px solid transparent;
  margin: 0 15px;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
}

.map-block {
    margin-left: 240px;
}

.map-wrapper {
    position: relative;
    width: 350px;
    height: 285px;
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.map-wrapper, .map-wrapper > iframe, .map-overlay {
    border-radius: 12px;
}

.map-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 2;
}

.map-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;   
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #00798A;
    background: #fff;
    color: #00798A;
}

.map-block-header-text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
}

.map-block span {
    font-size: 12px;
    color: #212121;
}

@media screen and (max-width: 641px) {
    #filters-placeholder {
        max-width: 95vw;
        overflow-x: auto;
        display: flex;
        gap: 0.75rem;
        white-space: nowrap;
        margin-bottom: 30px;
    }

    .online-plashka {
        display: none;
    }

    .filter-wrapper {
        flex: 0 0 auto;
  }

    .icons {
        margin-top: 12px;
    }

    .map-block {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .events-main {
    margin: 60px 0 80px;
    }

    .event-image {
        aspect-ratio: 2 / 1;
        height: min-content;
        margin-top: 5%;
        border-radius: 10%;
    }

    .events-header-text {
        padding: 15px 0;
    }




}