.meetup-footer {
  background: #212121;
  color: #e5e5e5;
  padding: 40px 60px;
  font-family: system-ui, sans-serif;
}

.meetup-footer a {
  color: #cfcfcf;
  text-decoration: none;
}

.meetup-footer a:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.footer-top p {
  font-size: 20px;
}

.footer-top button {
  padding: 10px 18px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  background: transparent;
  cursor: pointer;
  margin-left: 15px;
}

.footer-top button:hover {
  background: #616161;
}

.footer-top button a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid #3b3b3b;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 35px 0;
}

.footer-col h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-col a {
  display: block;
  margin: 8px 0;
  font-size: 15px;
  color: #cfcfcf;
  cursor: pointer;
  font-style: normal;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social span {
  font-size: 16px;
}

.footer-social .icons i {
  margin-right: 10px;
  font-size: 22px;
}

.footer-social .stores img {
  height: 40px;
  margin-left: 10px;
}
.footer-bottom {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: #999;
}

.footer-bottom a {
  color: #aaa;
  font-size: 14px;
}

.button a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 900px) {
  .footer-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-columns {
    grid-template-columns: 1fr;
  }

  .footer-top {
    flex-direction: column;
    gap: 10px;
  }

  .footer-social {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 380px) {
  .meetup-footer {
    padding: 32px 16px;
  }

  .footer-top {
    flex-direction: row;
  }

  .footer-top p {
    font-size: 14px;
  }

  .footer-columns {
    grid-template-columns: repeat(3, 1fr);
    margin: 25px 0;
 }

    .stores {
        display: none;
    }

    .footer-social {
    flex-direction: row;
    }

    .footer-col a {
        font-size: 14px;
    }
}