.header {
  width: 100%;
  background: #ffffff;
}

.header__container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 12px 10px;
  align-items: center;
  display: grid;
  grid-template-columns: .2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.logo {
    grid-column: 1;
}

.logo img {
  height: 34px;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 6px;
  grid-column: 2;
}

.search__input {
  border: none;
  padding: 10px 12px;
  width: 300px;
  outline: none;
  border: 1px solid #e6e6e6;
}

.search__location {
  border: none;
  padding: 10px 12px;
  width: 180px;
  outline: none;
  border: 1px solid #e6e6e6;
}

.search__button {
  display: block;
  padding: 10px 14px;
  background: #ff5959;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  border-left: 1px solid #dadada;
}

.search__button img {
vertical-align: middle;
}

.header__authentication-block {
  display: flex;
  align-items: center;
  gap: 22px;
  grid-column: 3;
  justify-self: end;
}

.language span {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.language img {
  vertical-align: middle;
}

.language span:hover {
  border-bottom: 1px solid #000;
}

.auth {
  display: flex;
  align-items: center;
  gap: 18px;
}

.auth__login {
  cursor: pointer;
}

.auth__signup {
  padding: 8px 16px;
  background: #00798A;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.slider-main {
  margin: 130px 0;
}

.slider-text {
  font-size: 42px;
  font-weight: 700;
}

.slider-main > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-subtext {
  margin: 25px 0;
  padding: 24px 200px 24px 0px;
  line-height: 24px;
}

.slider-button button {
  padding: 8px 16px;
  background: #00798A;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 380px) {

    .header__container {
        gap: 16px 0;
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
    }

    .search {
        grid-column: 1 /3;
        grid-row: 2;
        justify-self: flex-start;
    }

    .search__input {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .search__button {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .search__location {
        display: none;
    }

    .header__authentication-block {
        grid-column: 2 / 4;
    }
}
