* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}

.header__container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  height: 34px;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 6px;
  overflow: hidden;
}

.search__input {
  border: none;
  padding: 10px 12px;
  width: 300px;
  outline: none;
}

.search__location {
  border: none;
  padding: 10px 12px;
  width: 180px;
  outline: none;
  border-left: 1px solid #dadada;
}

.search__button {
  display: block;
  padding: 10px 14px;
  background: #ff5959;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  border-left: 1px solid #dadada;
}

.header__authentication-block {
  display: flex;
  align-items: center;
  gap: 22px;
}

.language span {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.language span:hover {
  border-bottom: 1px solid #000;
}

.auth {
  display: flex;
  align-items: center;
  gap: 18px;
}

.auth__login {
  cursor: pointer;
}

.auth__signup {
  padding: 8px 16px;
  background: #00798A;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.slider-main {
  margin: 130px 0;
}

.slider-text {
  font-size: 42px;
  font-weight: 700;
}

.slider-main > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-subtext {
  margin: 25px 0;
  padding: 24px 200px 24px 0px;
}

.slider-button button {
  padding: 8px 16px;
  background: #00798A;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.events__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 22px;
  margin-top: 25px;
}
.event-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: .25s ease;
}

.event-card:hover {
  transform: translateY(-4px);
}

.event-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.event-info {
  padding: 16px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-title {
  font-size: 17px;
  font-weight: 600;
  color: #222;
  margin: 0;
}

.event-meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: #000000;
}

.event-meta-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.event-meta-item svg {
  width: 16px;
  height: 16px;
  opacity: 0.7;
}

.event-type {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #777;
}

.events__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: Inter, sans-serif;
}

.events__left {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.events__title {
  font-size: 24px;
  font-weight: 700;
  color: #111;
  margin: 0;
}

.events__location {
  font-size: 20px;
  color: #666;
  font-weight: 400;
}

.events__link {
  font-size: 16px;
  font-weight: 500;
  color: #0066ff;
  text-decoration: none;
}

.events__link:hover {
  text-decoration: underline;
}

.categories-list{
  display: flex;
  gap: 1em;
}

.categories-item > div, .cities-list > div{
  text-align: center;
}

.categories-item{  
  background-color: #97CAD114;
  border-radius: 8px;
  align-content: center;
  padding: 15px;
  flex: 1;
}

 .categories-container > div, .cities-container > div, .faq-container > div, .news-container > div{
  padding: 20px 0;
}

.cities-list{
  margin-top: 10px;
  display: flex;
  gap: 2em;
}
 .cities-item{
  flex: 1;
 }

.cities-image > img{
  border-radius: 9999px;
  width: 100%;
  height: 100%;
}

.cities-name{
  padding: 15px 0;
}

.faq-list{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.faq-item{
  flex: 1;
  min-width: 400px;
  padding: 24px;
  display: flex;
  gap: 24px;
  background-color: #97CAD114;
  border-radius: 8px;
}

.faq-text{
  padding: 15px 0;
  max-width: 85%;
}

.faq-link{
  text-decoration: none;
  color: #00798A;
}

.news-list{
  margin-top: 10px;
  display: flex;
  gap: 1em;
}

.news-text > div{
  padding: 0.5em 0;
}

.news-more{
  text-decoration: none;
  color: #00798A;
}